body{
  margin:20px;
  padding:0px;
}

.container{
  margin:20px;
  padding:0px;
  widht:1000px;
}

.content-area{
  padding:0px;
  margin:0px;
}

.header{
  margin:10px;
  border-top:1px soild red;
  padding:0px;
}

